{% extends 'blog/base.html' %}
{% block body %}
    <main class="container">
        <div class="row">
            <form method="POST" class="col s12">
                {% csrf_token %}
                <div class=section>
                    <h3 class="center-align teal-text text-darken-3"> Blog Post </h3>
                    <div class="divider"></div>
                    
                        {{form}}
                    
                </div>
                <div class="row center-align">
                    <button class="btn teal" type="submit">Save</button>
                </div>
            </form>
        </div>
    </main>
{% endblock%}