{% extends 'blog/base.html' %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col">
                <h5 class="teal-text text-darken-2">Edit Profile</h5>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="section">
                        <button class="btn teal" type="submit">
                            Save 
                            <i class="material-icons right">save</i>
                        </button>
                        <a href="{% url 'profile' %}" class="btn-flat"> Cancel </a>
                    </div>

                </form>
            </div>


        </div>
    </main>
{% endblock%}